@model WeatherAPI.Models.SearchWeatherVM

@{

    ViewData["Title"] = "Weather Explorer!";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetWeather">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchModel.CountryCode" class="control-label"></label>
                <input asp-for="SearchModel.CountryCode" class="form-control" />
                <span asp-validation-for="SearchModel.CountryCode" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="SearchModel.CityName" class="control-label"></label>
                <input asp-for="SearchModel.CityName" class="form-control" />
                <span asp-validation-for="SearchModel.CityName" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="SearchModel.StateCode" class="control-label"></label>
                <input asp-for="SearchModel.StateCode" class="form-control" />
                <span asp-validation-for="SearchModel.StateCode" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Search..." class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WeatherModel.Current.Clouds)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WeatherModel.Current.Clouds)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WeatherModel.Current.Humidity)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WeatherModel.Current.Humidity)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WeatherModel.Current.Temp)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WeatherModel.Current.Temp)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WeatherModel.Current.WeatherArray)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WeatherModel.Current.WeatherArray)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WeatherModel.Current.Wind_Speed)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WeatherModel.Current.Wind_Speed)
    </dd>
</div>

<div>
    <img src="@ViewData["ImgSrc"]" class="img" asp-append-version="true">
</div>
